* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
body .imageFond {
  display: flex;
  background-image: url(Images/header.jpg);
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  background-size: cover;
  align-items: center;
  flex-direction: column;
}
body .imageFond .entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
}
body .imageFond .entete img {
  padding-right: 400px;
}
body .imageFond .entete .liens {
  display: flex;
  column-gap: 30px;
}
body .imageFond .entete .liens a {
  text-decoration: none;
  color: white;
}
body .imageFond .centrage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 53%;
}
body .imageFond .centrage h2 {
  color: white;
  font-size: 70px;
  padding-top: 150px;
  font-weight: 100;
}
body .imageFond .centrage img {
  padding-top: 40px;
}
body .imageFond .centrage h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}
body .section1 {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  height: 600px;
}
body .section1 .image {
  padding: 0 100px 0 350px;
}
body .section1 .texte {
  width: 30%;
}
body .section1 .texte h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 20px;
}
